body{
    background-color: #1e1e1e;
    margin: 0px;
    padding: 0px;
}
header,footer,main{
    background-color: #2e2e30;
}
header{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: #98FB98;
    margin: 0px 0px 0px 5px;
}
footer{
    color: white;

}
footer>p{
    text-decoration: none;
}
article{
    border: 1px solid white;
    margin: auto;
}
div.name>a{
    font-size: 40px;
    color: #1b1b1b;
    text-decoration: none;
}
div.panel{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}
div.panel>div{
    padding-left:15px;
}
div.add{
    padding-left:10px;
    padding-right: 20px;
}
div.notes{
    display: flex;
    flex-wrap: wrap;
}
div.post{
    margin: 10px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    background-color: #3e3e42;
    color:white
}
div.conten{
    margin-top:10px;
    color: white;
    background-color: #3e3e42;
    margin-left:25%;
    margin-right: 30%;
}
form {
  padding: 15px 0 15px 5%;
}
form.nie{
    padding: 15px 0 0 7px;
}
div.form{
    color: white;
    display: block;
}
div.form select{
   background-color: #3e3e42;
    color: white;
    height: 55px;
    width: auto;
    margin-right: 15px;
}
div.buttons{
    padding-top:10px;
    width: 30%;
    display: flex;
}
form p:nth-child(2) {
    font-size: large;
    padding-left: 15%;
    color: whitesmoke;
}
form p:nth-child(3) {
    display: flex;
    font-size: 20px;
}
form>label:nth-child(3){
    color: blue;
}
form label {
  font-size: 18px;
}
form input[type="text"],
form input[type="email"],
form select,
form textarea {
  background-color: #1e1e1e;
    color:white;
}
form textarea{
  height: 250px;
    width: 450px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
form select{
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
}
div.head{
    display: flex;
    background-color: 	#FED8B1;
}
div.head>p{
    width: 15%;
    margin-left: 15px;
}
div.head>h1{
    width: 85%;
    margin-left: 5px;
}
div.souce{
    padding-bottom: 10px;
}
div.title{
    height: 30px;
    text-align: center;
    overflow: ellipsis;
}
div.title>a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
div.date>a{
    text-decoration: none;
    font-size: 10px;
    color: #5b80b2;
}
div.content{
    height: 170px;
    padding: 7px;
}
div.date{
    text-align: center;
    height: 30px;
    background-color: #3e3e42;
}
div.pagination{
    color:white;
}
div.status{
    text-align: center;
    font-size: 15px;
}
div.container-xl{
    padding-bottom: 30px;
}
