body{
    background-color: #1e1e1e;
    margin: 0px;
    padding: 0px;
}
header{
    margin: 0px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 0px 5px;
}
div.name>a{
    font-size: 40px;
    color: #007acc;
    text-decoration: none;
}
div.panel{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}
div.panel>div{
    padding-left:15px;
}
div.add{
    padding-left:10px;
}
div.notes{
    display: flex;
    flex-wrap: wrap;
}
div.post{
    margin: 10px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    background-color: #3e3e42;
    color:white
}
div.conten{

    margin-top:10px;
    color: white;
    background-color: #3e3e42;
    margin-left:25%;
    margin-right: 30%;
}
div.head{
    display: flex;
    background-color: 	#FED8B1;
}
div.head>p{
    width: 15%;
    margin-left: 15px;
}
div.head>h1{
    width: 85%;
    margin-left: 5px;
}
div.souce{
    padding-bottom: 10px;
}
div.title{
    height: 30px;
    text-align: center;
}
div.title>a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
div.date>a{
    text-decoration: none;
    font-size: 10px;
    color: #5b80b2;
}
div.content{
    height: 170px;
    padding: 7px;
}
div.date{
    text-align: center;
    height: 30px;
    background-color: #2f2f32;
}
div.pagination{
    color:white;
}
div.status{
    text-align: center;
    font-size: 15px;
}