{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <title>{% block title %}{% endblock %}</title>


</head>
  <body>
     <header class="container-xl">
         <div class="name"><a href="..">NoteWave</a> </div>
          <div>

          </div>
        </header>
        <main class="container-xl">
          <div class="panel">
            <div class="add">
              <button type="button" class="btn btn-outline-success"><a href="/add_post"><img src="{% static 'photos/add.png' %}" alt="add"></a></button>
            </div>
            <div class="remove">
              <button type="button" class="btn btn-outline-danger" disabled><a href=""><img src="{% static 'photos/remove.png' %}" alt="remove"></a></button>
            </div>
          </div>
          <div class="container-xl">
        <div class="conten">
            <div class="head" id="colo">
                <h1>{{ post.tytul }}</h1>
                <p id="name">{{ post.priorytet }}</p>
            </div>
        <p>Opublikowany {{ post.data_utworzenia }} przez {{ post.autor }}</p>
        <div class="souce">{{ post.tresc|linebreaks }}</div>
        </div>

    </div>
        </main>
  <script src="{% static 'js/script.js' %}"> </script>